<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ritesh.spardha.spardha2015" >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.ritesh.spardha.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ritesh.spardha.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SpardhaHome"
            android:label="Spardha Home" >
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name="com.ritesh.spardha.CustomizeGallery.GalleryMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Gallerytheme" >
        </activity>
        <activity
            android:name="com.ritesh.spardha.CustomizeGallery.DetailActivity"
            android:label="@string/detail"
            android:parentActivityName="com.ritesh.spardha.CustomizeGallery.GalleryMainActivity"
            android:theme="@style/Gallerytheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ritesh.spardha.CustomizeGallery.GalleryMainActivity" />
        </activity>
        <activity
            android:name="com.ritesh.spardha.CustomizeGallery.GallerBaseActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ritesh.spardha.spardha2015.LocationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ritesh.spardha.spardha2015.FeedbackActivty"
            android:label="@string/app_name" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.ritesh.spardha.maps.MapsActivity"
            android:label="IIT-BHU Map" />
        <activity
            android:name="com.ritesh.spardha.gcm.GcmActivity"
            android:label="@string/title_activity_gcm" >
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.ritesh.spardha.gcm" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <!-- [START gcm_listener] -->
        <service
            android:name="com.ritesh.spardha.gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name="com.ritesh.spardha.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>

            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name="com.ritesh.spardha.gcm.RegistrationIntentService"
            android:exported="false">
        </service>
        <activity android:name=".ContactActivity" android:label="Contacts">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".SpardhaHomeTest"/>
        </activity>
        <activity android:name=".RegisterActivity" android:label="Register">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".SpardhaHomeTest"/>
        </activity>
        <activity android:name=".AboutUsActivity" android:label="Developers">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".SpardhaHomeTest"/>
        </activity>
        <activity android:name=".SpardhaHomeTest" android:label="SpardhaHomeTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
